/* Grid layout */
#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

/* Image box */
.imgBox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    background: #eee;
    opacity: 0;
    transition: opacity 0.8s;   
}

/* Make image fit */
.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* visible animation */
.fadeIn {
    opacity: 1;
}

#loadBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}